<!doctype html>
<meta charset="utf-8">
<meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0'>
<meta name='apple-mobile-web-app-capable' content='yes'>
<meta name='apple-mobile-web-app-status-bar-style' content='black'>
<meta name='format-detection' content='telephone=no'>
<!--meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"--><!--use edge and chorme frame-->
<!--meta name="viewport" content="width=device-width, initial-scale=1.0"-->
<link href="/css/style.css"  rel="stylesheet" type="text/css" media="all" />
<title>Document</title>
<style>
    .lefttopbox{width:100%;height:31vh;float:left;margin-bottom: 4vh;text-align:center;}
    .leftmiddlebox{width:100%;height:61vh;float:left;margin-bottom: 0vh;text-align:center;}
    .righttopbox{width:100%;height:26vh;float:left;text-align:center;margin-bottom:4vh;}
    .rightmiddlebox{width:100%;height:66vh;float:left;margin-top:0vh;margin-bottom:0vh;text-align:center;}
</style>
<script src="/js/jquery.min.js" type="text/javascript"></script>
<script src="/js/scroll.js" type="text/javascript"></script>
<script type="text/javascript">
    //滚动插件
    //$(document).ready(function(){
    //$('#scrollDiv').myScroll({
    //speed: 40, //数值越大，速度越慢
    //rowHeight: 20 //li的高度
    //});
    //});
</script>
<script src="/js/echarts.min.js" type="text/javascript"></script>
<body>
<div class="wbox">
    <div class="leftbox">
        <div class="lefttopbox">
            <div class="titl" ><h2 class="tith2" style="padding-top:1%;">过程数据</h2></div>
            <div class="content">
                <!-- <div style="margin-bottom:10%;height:10%;padding-top:5%;">
                    <h3 class="tith3" style="width:60%;display: inline;color:#fff;font-size:1.5em;">4米长H型钢</h3>
                </div> -->
                <div style="width:100%;display: inline-block; height:80%; float:left;">
                    <div style="width:45%;height:25%;display:inline-block;text-align:center;margin-top: calc(6.975vh - 2.3vw);margin-bottom: 5%;">
                        <div class="content_title" style="height:25%;">
                            <h2 class="tith2" style="text-align:center;padding-bottom: 20%;font-size:1.2rem;margin-top:-2.4%;">加工次数</h2>
                        </div>
                        <div style="height:45%;width:100%;float:left;padding-top:10%;font-size:1.2rem;margin-top: 0%;">
                            <h2 id="processingTimes" class="tith2" style="text-align: center; font-size:1.4rem;color:#FFF;">222 pcs</h2>
                        </div>
                    </div>
                    <div style="width:45%;height:25%;display:inline-block;text-align:center;margin-bottom: 5%;">
                        <div class="content_title" style="height:25%;">
                            <h2 class="tith2" style="text-align:center;padding-bottom: 20%;font-size:1.2rem;margin-top:-2.4%;">生产节拍</h2>
                        </div>
                        <div style="height:45%;width:100%;float:left;padding-top:10%;font-size:1.2rem;margin-top: 0%;">
                            <h2 id="actualBeat" class="tith2" style="text-align: center; font-size:1.4rem;color:#FFF;">22 s</h2>
                        </div>
                    </div>
                    <div style="width:45%;height:25%;display:inline-block;text-align:center;margin-bottom: 5%;">
                        <div class="content_title" style="height:25%;">
                            <h2 class="tith2" style="text-align:center; padding-bottom: 20%;font-size:1.2rem;margin-top:-2.4%;">累计加工时长</h2>
                        </div>
                        <div style="height:45%;width:100%;float:left;padding-top:10%;font-size:1.2rem; display:inline;margin-top: 0%;">
                            <h2 id="cumulativeProcessingTime" class="tith2" style="text-align: center; font-size:1.4rem;color:#FFF;">222 t</h2>
                        </div>
                    </div>
                    <div style="width:45%;height:25%;display:inline-block;text-align:center;margin-bottom: 5%;">
                        <div class="content_title" style="height:25%;">
                            <h2 class="tith2" style="text-align:center;padding-bottom: 20%;font-size:1.2rem;margin-top:-2.4%;">开机累计时长</h2>
                        </div>
                        <div style="height:45%;width:100%;float:left;padding-top:10%;font-size:1.2rem;margin-top: 0%;">
                            <h2 id="cumulativeStartupTime" class="tith2" style="text-align: center; font-size:1.4rem;color:#FFF;">22 s</h2>
                        </div>
                    </div>
                    <div style="width:45%;height:25%;display:inline-block;text-align:center;float:left;margin-left:5%;">
                        <div class="content_title" style="height:25%;">
                            <h2 class="tith2" style="text-align:center; padding-bottom: 20%;font-size:1.2rem;margin-top:-2.4%;">利用率</h2>
                        </div>
                        <div style="height:45%;width:100%;float:left;padding-top:10%;font-size:1.2rem; display:inline;margin-top: 0%;">
                            <h2 id="utilizationRate" class="tith2" style="text-align: center; font-size:1.4rem;color:#FFF;">50.9%</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="leftmiddlebox">
            <div class="titl" style="height:5.082%;"><h2 class="tith2" style="padding-top:1%;">加工累计时间</h2></div>
            <div class="content" style="height:calc(94.918% - 0.92vw);background: url(/images/leftcontent.png);background-repeat: no-repeat;background-position: top center;background-size: 100% 100%;">
                <div style="height:5%;width:80%;margin-left:10%;margin-top:calc(4.575vh - 0.1vw);"><p style="font-size:1.2rem;display:inline-block;color:#00FFFF;text-align:left;margin-left:0%;width:45%;">风机1累计时</p><p id="fan1TotalTime" style="font-size:1.2rem;display:inline-block;text-align:right; width:45%;">01:21:34</p></div>
                <div style="height:5%;width:80%;margin-left:10%;"><p style="font-size:1.2rem;display:inline-block;color:#00FFFF;text-align:left;margin-left:0%;width:45%;">风机2累计时</p><p id="fan2TotalTime" style="font-size:1.2rem;display:inline-block;text-align:right; width:45%;">01:21:09</p></div>
                <hr class="new3" style="width:90%;margin:0px;padding:0px;margin-left:5%;">
                <div style="height:5%;width:80%;margin-left:10%;"><p style="font-size:1.2rem;display:inline-block;color:#00FFFF;text-align:left;margin-left:0%;width:45%;">分离累计时</p><p id="separateTotalTime" style="font-size:1.2rem;display:inline-block;text-align:right; width:45%;">01:22:04</p></div>
                <div style="height:5%;width:80%;margin-left:10%;"><p style="font-size:1.2rem;display:inline-block;color:#00FFFF;text-align:left;margin-left:0%;width:45%;">提升累计时</p><p id="increaseTotalTime" style="font-size:1.2rem;display:inline-block;text-align:right; width:45%;">01:21:34</p></div>
                <div style="height:5%;width:80%;margin-left:10%;"><p style="font-size:1.2rem;display:inline-block;color:#00FFFF;text-align:left;margin-left:0%;width:45%;">横向累计时</p><p id="transverseTotalTime" style="font-size:1.2rem;display:inline-block;text-align:right; width:45%;">01:21:34</p></div>
                <div style="height:5%;width:80%;margin-left:10%;"><p style="font-size:1.2rem;display:inline-block;color:#00FFFF;text-align:left;margin-left:0%;width:45%;">纵向累计时</p><p id="verticalTotalTime" style="font-size:1.2rem;display:inline-block;text-align:right; width:45%;">01:21:34</p></div>
                <div style="height:5%;width:80%;margin-left:10%;"><p style="font-size:1.2rem;display:inline-block;color:#00FFFF;text-align:left;margin-left:0%;width:45%;">回收累计时</p><p id="recoveryTotalTime" style="font-size:1.2rem;display:inline-block;text-align:right; width:45%;">01:21:34</p></div>
                <hr class="new3" style="width:90%;margin:0px;padding:0px;margin-left:5%;">
                <div style="height:5%;width:80%;margin-left:10%;"><p style="font-size:1.2rem;display:inline-block;color:#00FFFF;text-align:left;margin-left:0%;width:45%;">反吹1累计时</p><p id="blowback1TotalTime" style="font-size:1.2rem;display:inline-block;text-align:right; width:45%;">01:21:34</p></div>
                <div style="height:5%;width:80%;margin-left:10%;"><p style="font-size:1.2rem;display:inline-block;color:#00FFFF;text-align:left;margin-left:0%;width:45%;">反吹2累计时</p><p id="blowback2TotalTime" style="font-size:1.2rem;display:inline-block;text-align:right; width:45%;">01:21:34</p></div>
                <hr class="new3" style="width:90%;margin:0px;padding:0px;margin-left:5%;">
                <div style="height:5%;width:80%;margin-left:10%;"><p style="font-size:1.2rem;display:inline-block;color:#00FFFF;text-align:left;margin-left:0%;width:45%;">抛1累计时</p><p id="throw1TotalTime" style="font-size:1.2rem;display:inline-block;text-align:right; width:45%;">01:21:34</p></div>
                <div style="height:5%;width:80%;margin-left:10%;"><p style="font-size:1.2rem;display:inline-block;color:#00FFFF;text-align:left;margin-left:0%;width:45%;">抛2累计时</p><p id="throw2TotalTime" style="font-size:1.2rem;display:inline-block;text-align:right; width:45%;">01:21:34</p></div>
                <div style="height:5%;width:80%;margin-left:10%;"><p style="font-size:1.2rem;display:inline-block;color:#00FFFF;text-align:left;margin-left:0%;width:45%;">抛3累计时</p><p id="throw3TotalTime" style="font-size:1.2rem;display:inline-block;text-align:right; width:45%;">01:21:34</p></div>
                <div style="height:5%;width:80%;margin-left:10%;"><p style="font-size:1.2rem;display:inline-block;color:#00FFFF;text-align:left;margin-left:0%;width:45%;">抛4累计时</p><p id="throw4TotalTime" style="font-size:1.2rem;display:inline-block;text-align:right; width:45%;">01:21:34</p></div>
                <div style="height:5%;width:80%;margin-left:10%;"><p style="font-size:1.2rem;display:inline-block;color:#00FFFF;text-align:left;margin-left:0%;width:45%;">抛5累计时</p><p id="throw5TotalTime" style="font-size:1.2rem;display:inline-block;text-align:right; width:45%;">01:21:34</p></div>
                <div style="height:5%;width:80%;margin-left:10%;"><p style="font-size:1.2rem;display:inline-block;color:#00FFFF;text-align:left;margin-left:0%;width:45%;">抛6累计时</p><p id="throw6TotalTime" style="font-size:1.2rem;display:inline-block;text-align:right; width:45%;">01:21:34</p></div>
                <div style="height:5%;width:80%;margin-left:10%;"><p style="font-size:1.2rem;display:inline-block;color:#00FFFF;text-align:left;margin-left:0%;width:45%;">抛7累计时</p><p id="throw7TotalTime" style="font-size:1.2rem;display:inline-block;text-align:right; width:45%;">01:21:34</p></div>
                <div style="height:5%;width:80%;margin-left:10%;"><p style="font-size:1.2rem;display:inline-block;color:#00FFFF;text-align:left;margin-left:0%;width:45%;">抛8累计时</p><p id="throw8TotalTime" style="font-size:1.2rem;display:inline-block;text-align:right; width:45%;">01:21:34</p></div>
            </div>
        </div>
    </div>
    <div class="middlebox">
        <div class="middlewbox">
            <div class="bigtitl" style="height:3.229%; margin-bottom:0.92%;"><h2 class="tith2" style="width:100%;padding-left:2%;padding-top:0.2%;">三维设备监控</h2></div>
            <div class="bigcontent" style="height:calc(96.771% - 0.92vw);margin-top:0.92%;">
                <div class="bigcontent_title" style="margin-left:15%;margin-top:4%;height:5%;width:70%;font-size:1.2rem;">
                    <!--<h2 class="tith2" style="font-size:1.8rem;text-align:center;color:#FFF;margin-top:0.2%;">杭萧钢构H型钢产线- 抛丸线-SCADA系统</h2>-->
                    <div class="select_box">
                        <span class="select_txt"></span><a class="selet_open"><b></b></a>
                        <div class="option">
                            <a href="/index/horizontalStraightStationInner">杭萧钢构H型钢产线- 卧式矫正机工位-SCADA系统</a>
                            <a href="/index/shootPeenInner">杭萧钢构H型钢产线- 抛丸线-SCADA系统</a>
                            <a href="/index/steelDrillStationInner">杭萧钢构H型钢产线- 数控型钢钻孔机-SCADA系统</a>
                            <a href="/index/gasshieldedweldingInner">杭萧钢构H型钢产线-龙门式气保焊专机1-SCADA系统</a>
                            <a href="/index/gasshieldedweldingInner2">杭萧钢构H型钢产线-龙门式气保焊专机2-SCADA系统</a>
                        </div>
                    </div>
                </div>
                <img src="/images/shootPeen.png" style="height:calc(82% + 1vw);width:100%;margin-top:-1%;"></img>
                <!-- <img id="heartbeat" src="./normal.png" style="height:23%;width:60%;padding-top:1%;"></img> -->
                <div id="heartbeatStatus" style="height: 29%;width:100%; margin-top: -12%;">
                    <!--<div style="width: 10%;height: 65%;margin-left: 11%;display: inline-block;">
                        <div style="height:20%;width:100%;margin-bottom: 20%;margin-top:40%;"><h2 style="color: #7AB2FF;font-size: 1em;">通讯信号</h2></div>
                        <div style="height:25%;width:100%; font-size: 1em; text-align: center;background : url(/images/blue.png);background-size: 100% 100%;background-repeat: no-repeat;background-position: top center;"><h2 style="font-size: 1em;padding-top:3%;">正常</h2></div>
                    </div>
                     <div style="width: 28%;height: 60%;margin-bottom:2%; display: inline-block;margin-left: 13%;background : url(/images/red.png);background-size: 100% 100%;background-repeat: no-repeat;background-position: top center;">
                        <div style="margin-bottom:0%;font-size: 0.9em;"><h2>运行状态异常</h2></div>
                        <div style="margin-top:-5%; font-weight: 100;"><h2>&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;</h2></div>
                        <div style="font-size: 0.6em;margin-bottom:2%; margin-top:-1%;"><h2>长度检测失败！</h2></div>
                        <div style="font-size: 0.6em;"><h2>2021.1.1 08:25:21</h2></div>
                    </div>-->
                    <div style="width: 10%;height: 65%;margin-left: 0%;display: inline-block;">
                        <div style="height:20%;width:100%;margin-bottom: 10%;margin-top:40%;"><h2 style="color: #7AB2FF;font-size: 1.6rem;">通讯信号</h2></div>
                        <div style="height:25%;width:100%; font-size: 1.6rem; text-align: center;background : url(/images/blue.png);background-size: 100% 100%;background-repeat: no-repeat;background-position: top center;"><h2 style="font-size: 1.6rem;padding-top:3%;">正常</h2></div>
                    </div>
                    <div style="width: 10%;height: 65%;;display: inline-block;margin-left:20%;">
                        <div style="height:20%;width:100%;margin-bottom: 10%;margin-top:40%;"><h2 style="color: #7AB2FF;font-size: 1.6rem;">设备运行</h2></div>
                        <div style="height:25%;width:100%; font-size: 1.6rem; text-align: center;background : url(/images/blue.png);background-size: 100% 100%;background-repeat: no-repeat;background-position: top center;"><h2 style="font-size: 1.6rem;padding-top:3%;">正常</h2></div>
                    </div>
                    <div style="height:10%;width:100%;margin-top:-2%;">
                        <h2 class="point" style="display: inline-block;margin-bottom:-0.3vh;"></h2>
                        <div style="display: inline-block;margin-left: -1%;color: #7AB2FF;width:calc(32% - 4vh);"><hr class="new1"/></div>
                        <h2 class="point" style="background-color: #7AB2FF;display: inline-block; margin-left: -1%;margin-bottom:-0.3vh;"></h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="rightbox">
         <div class="righttopbox" >
             <div class="titl" style="height:11.923%;"><h2 class="tith2" style="padding-top:1.2%;">设备检修时间</h2></div>
             <div class="content" style="height:calc(88.077% - 0.92vw);">
                 <div style="width:45%;margin-right:5%;height:100%; float:left;">
                     <div id="charts1" style="width:100%;height:100%; float:left;"></div>
                 </div>
                 <div style="width:45%;margin-right:5%;height:100%; float:left;">
                     <div style="width:100%;height:35%;display:inline-block;text-align:center;margin-top:35%;">
                         <div class="content_title">
                             <h2 class="tith2" style="text-align:center;padding-bottom: 20%;font-size:1.2rem;margin-top:-2.4%;">设备维护时间</h2>
                         </div>
                         <div style="height:80%;width:100%;float:left;padding-top:10%;font-size:1.2rem;">
                             <h2 id="maintainTime" class="tith2" style="text-align: center; font-size:1.2rem;color:#FFF;">2020.08.12</h2>
                         </div>
                     </div>
                 </div>
             </div>
        </div>
        <div class="rightmiddlebox">
            <div class="titl" style="height:4.697%; "><h2 class="tith2" style="padding-top:1%;">设备加工状态</h2></div>
            <div id="ulbox" class="content" style="height:calc(95.303% - 0.92vw);background: url(/images/leftcontent.png);background-repeat: no-repeat;background-position: top center;background-size: 100% 100%;" >
                <div id="scrollDiv">
                    <ul id="ulreal">
                        <!-- <li >
                            <p style="text-align:left;margin-left:7%;width:50%;"></p>
                            <p style="color:#7AB2FF;width:40%;"></p>
                        </li>
                        <li >
                            <p style="text-align:left;margin-left:7%;width:50%;"></p>
                            <p style="color:#7AB2FF;width:40%;"></p>
                        </li>
                        <li >
                            <p style="text-align:left;margin-left:7%;width:50%;"></p>
                            <p style="color:#7AB2FF;width:40%;"></p>
                        </li>
                        <li >
                            <p style="text-align:left;margin-left:7%;width:50%;"></p>
                            <p style="color:#7AB2FF;width:40%;"></p>
                        </li>
                        <li >
                            <p style="text-align:left;margin-left:7%;width:50%;"></p>
                            <p style="color:#7AB2FF;width:40%;"></p>
                        </li>
                        <li >
                            <p style="text-align:left;margin-left:7%;width:50%;"></p>
                            <p style="color:#7AB2FF;width:40%;"></p>
                        </li>
                        <li>
                            <p style="text-align:left;margin-left:7%;width:50%;"></p>
                            <p style="color:#7AB2FF;width:40%;"></p>
                        </li>
                        <li>
                            <p style="text-align:left;margin-left:7%;width:50%;"></p>
                            <p style="color:#7AB2FF;width:40%;"></p>
                        </li>
                        <li >
                            <p style="text-align:left;margin-left:7%;width:50%;"></p>
                            <p style="color:#7AB2FF;width:40%;"></p>
                        </li>
                        <li >
                            <p style="text-align:left;margin-left:7%;width:50%;"></p>
                            <p style="color:#7AB2FF;width:40%;"></p>
                        </li>
                        <li >
                            <p style="text-align:left;margin-left:7%;width:50%;"></p>
                            <p style="color:#7AB2FF;width:40%;"></p>
                        </li>
                        <li >
                            <p style="text-align:left;margin-left:7%;width:50%;"></p>
                            <p style="color:#7AB2FF;width:40%;"></p>
                        </li>
                        <li >
                            <p style="text-align:left;margin-left:7%;width:50%;"></p>
                            <p style="color:#7AB2FF;width:40%;"></p>
                        </li>
                        <li >
                            <p style="text-align:left;margin-left:7%;width:50%;"></p>
                            <p style="color:#7AB2FF;width:40%;"></p>
                        </li>
                        <li >
                            <p style="text-align:left;margin-left:7%;width:50%;"></p>
                            <p style="color:#7AB2FF;width:40%;"></p>
                        </li>
                        <li >
                            <p style="text-align:left;margin-left:7%;width:50%;"></p>
                            <p style="color:#7AB2FF;width:40%;"></p>
                        </li>
                        <li >
                            <p style="text-align:left;margin-left:7%;width:50%;"></p>
                            <p style="color:#7AB2FF;width:40%;"></p>
                        </li>
                        <li >
                            <p style="text-align:left;margin-left:7%;width:50%;"></p>
                            <p style="color:#7AB2FF;width:40%;"></p>
                        </li>
                        <li >
                            <p style="text-align:left;margin-left:7%;width:50%;"></p>
                            <p style="color:#7AB2FF;width:40%;"></p>
                        </li>
                        <li >
                            <p style="text-align:left;margin-left:7%;width:50%;"></p>
                            <p style="color:#7AB2FF;width:40%;"></p>
                        </li>
                        <li >
                            <p style="text-align:left;margin-left:7%;width:50%;"></p>
                            <p style="color:#7AB2FF;width:40%;"></p>
                        </li> -->
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
<script>
    //------------------------------------------------------------------------------------------------------
    $(".select_txt").text("杭萧钢构H型钢产线- 抛丸线-SCADA系统");

    $(document).ready(function(){
        $(".select_box").click(function(event){
            event.stopPropagation();
            $(this).find(".option").toggle();
            $(this).parent().siblings().find(".option").hide();
        });
        $(document).click(function(event){
            var eo=$(event.target);
            if($(".select_box").is(":visible") && eo.attr("class")!="option" && !eo.parent(".option").length)
                $('.option').hide();
        });
        /*赋值给文本框*/
        $(".option a").click(function(){
            var value=$(this).text();
            $(this).parent().siblings(".select_txt").text(value);
            $("#select_value").val(value)
        })
    })
    //------------------------------------------------------------------------------------------------------
    var ul=document.getElementById("scrollDiv");
    var width=parseInt(ul.clientWidth), height=parseInt(ul.clientHeight),newHeight,newWidth,marginLeft=parseInt(ul.clientLeft);
    function fontSize(res){
        let clientWidth = document.documentElement.clientWidth || document.body.clientWidth;
        let clientHeight = document.getElementsByClassName("wbox")[0].clientHeight;
        //设计图参考宽度
        let designW = 1320,designH = 742.5;
        let fontSize = Math.min(Math.trunc(parseInt(clientWidth) / designW * 10), Math.trunc(parseInt(clientHeight) / designH * 10));
        return res*fontSize;
    }
    //随着窗口的大小来调整字体的大小
    function resizeFont() {
        //获取屏幕宽度
        let clientWidth = document.documentElement.clientWidth || document.body.clientWidth;
        let clientHeight = document.getElementsByClassName("wbox")[0].clientHeight;
        //设计图参考宽度
        let designW = 1920,designH = 943;
        //console.log(Math.min(parseFloat(clientWidth / designW * 10), parseFloat(clientHeight / designH * 10)));
        document.getElementsByTagName('html').item(0).style.fontSize = Math.min(Math.trunc(parseInt(clientWidth) / designW * 13), Math.trunc(parseInt(clientHeight) / designH * 13)).toString() + 'px';
    }

    function changeLiWdth() {
        newWidth=Math.trunc(width/10)*10;
        marginLeft=(width-newWidth)/2;
        $("#scrollDiv").css("width", fontSize(width/10)+"px");//后面需要加px,否则没有效果
        $("#scrollDiv").css("line-height", fontSize(2.5)+"px");//后面需要加px,否则没有效果
        $("#ulreal li").css("width", fontSize(width/10)+"px");//后面需要加px,否则没有效果
        $("#ulreal li").css("margin-left", fontSize(marginLeft/10)+"px");//后面需要加px,否则没有效果
        $("#ulreal li").css("height", fontSize(2.5)+"px");//后面需要加px,否则没有效果
    }
    //document.getElementsByTagName('html').item(0).style.fontSize = (10).toString()+"px";
    resizeFont();

    /*window.onresize = function () {
        resizeFont();
        changeLiWdth();
        /!*$("#scrollDiv").css("height", fontSize(height/10)+"px");//后面需要加px,否则没有效果
        $("#scrollDiv").css("width", fontSize(width/10)+"px");//后面需要加px,否则没有效果
        $("#scrollDiv").css("margin-top", fontSize(marginTop/10)+"px");//后面需要加px,否则没有效果
        $("#scrollDiv").css("line-height", fontSize(2.5)+"px");//后面需要加px,否则没有效果
        $("#ulreal li").css("height", fontSize(2.5)+"px");//后面需要加px,否则没有效果
        $("#ulreal p").css("height", fontSize(1.5)+"px");//后面需要加px,否则没有效果*!/
    }*/


</script>
<script src="/js/charts.js" type="text/javascript"></script>
<script src="/js/dynamicul.js" type="text/javascript"></script>
<script src="/js/changeShootPeen.js" type="text/javascript"></script>
</html>